<!--Navbar-->
<mdb-navbar class="bgColor shadow-lg fixed-top" SideClass="navbar navbar-expand-lg navbar-dark  pink accent-3"
  [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand logo pr-5" routerLink="">
      <img routerLink="" src="../assets/img/cocktail2.png" width="30" height="30"
        class="d-inline-block align-top logotext" alt="" loading="lazy">
      Cocktails
    </a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>



    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="cocktail"></mdb-icon> Our Cocktails<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-secondary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="beers">Beer Mixed Drinks</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="daiquiris">Daiquiris</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="margaritas">Margaritas</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="martini">Martini</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="vodkas">Vodka</a>
          
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" class="nav-link" routerLink="/subscription" mdbWavesEffect>
          <mdb-icon fas icon="envelope"></mdb-icon> Subscribe <span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>


<div class="">
  <router-outlet></router-outlet>
</div>