<div class="d-flex justify-content-center formBox">
    <!-- Default form subscription -->
    <form class="text-center border border-light p-5">
    
        <p class="h4 mb-4">Subscribe</p>
    
        <mdb-card-body class="px-lg-5">
    
            <!-- Form -->
            <form class="text-center" style="color: #757575;">
        
              <p>Join our mailing list to get notified when we add a new cocktail 😊</p>
    
              <!-- Name -->
              <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" mdbInput>
                <label for="materialSubscriptionFormPasswords">Name</label>
              </div>
        
              <!-- E-mail -->
              <div class="md-form">
                <input type="email" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
                <label for="materialSubscriptionFormEmail">E-mail</label>
              </div>
        
              <!-- Sign in button -->
              <button mdbBtn color="info" routerLink="/home" outline="true" rounded="true" block="true" class="z-depth-0 my-4 waves-effect" mdbWavesEffect
                type="submit">Subscribe</button>
            </form>
            <!-- Form -->
          </mdb-card-body>
      </form>
    </div>
    